main {
    flex: 1;
}


@media (max-width: 1024px) {
    .nav-link {
        text-transform: capitalize;
    }
}

@media (max-width: 1440px) {
    .nav-link {
        text-transform: capitalize;
    }
}
