@inherits LayoutComponentBase
<BlazoredToasts />
<div>
    <NavMenu />
</div>
<div class="container-fluid content position-relative h-100">
    @Body
</div>
<div class="container-footer">
    <footer class="footer">
        <div class="footer__social">
            <div class="elemento">
                <span class="fw-bolder">Contacto</span>
                <ul class="list-unstyled">
                    <li><i class="fa fa-inbox me-2"></i>kaoc25@hotmail.com</li>
                    <li><i class="fa fa-whatsapp me-2"></i>+56 9 8785 1012</li>
                </ul>
            </div>
            <div class="elemento">
                <span class="fw-bolder">Dirección</span>
                <ul class="list-unstyled">
                    <li>
                        <i class="fa fa-address-card me-1"></i>
                        Calle Principal 123
                    </li>
                    <li>
                        <i class="fa fa-building"></i>
                        Santiago, Chile
                    </li>
                </ul>
            </div>
            <div class="elemento">
                <span class="fw-bolder">Horario de Atención</span>
                <ul class="list-unstyled">
                    <li>Lunes a Viernes: 9:00 AM - 6:00 PM</li>
                    <li>Sábado: 10:00 AM - 2:00 PM</li>
                    <li>Domingo: Cerrado</li>
                </ul>
            </div>

            <label class="elemento">&copy; 2023 PastelesdeKari.cl Todos los derechos reservados.</label>
        </div>
    </footer>
</div>