@inject ICarritoServicio CarritoServicio
@inject SweetAlertService Swal
@inject NavigationManager NavigationManager
@implements IDisposable
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary"
         aria-label="Admin Baker navigation header">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/images/logo.jpg" width="50" height="50" class="d-inline-block align-top mb-2 mt-1"
                     alt="Admin Baker Logo">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"
                    @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="@NavMenuCssClass navbar-collapse d-sm-inline-flex justify-content-center" id="navbarCollapse" @onclick="ToggleNavMenu">
                <ul class="navbar-nav me-auto mb-2">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="tipostorta/list">
                            <i class="fa fa-birthday-cake me-1"></i>Tipos de Torta
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="unidadesmedida/list">
                            <i class="fa fa-magnet me-1"></i>Unidades de Medida
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="recetas/list">
                            <i class="fa fa-book me-1"></i>Recetas
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="materiasprimas/list">
                            <i class="fa fa-cogs me-1"></i>Materias Primas
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="productos/list">
                            <i class="fa fa-product-hunt me-1"></i>Productos
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="pedidos/list">
                            <i class="fa fa-address-book me-1"></i>Pedidos
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="clientes/list">
                            <i class="fa fa-user-o me-1"></i>Clientes
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="vendedores/list">
                            <i class="fa fa-user-secret me-1"></i>Vendedores
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink href="Contact" class="nav-link">
                            <i class="fa fa-user-o me-1"></i>Contacto
                        </NavLink>
                    </li>
                </ul>
                <NavLink class="btn btn-outline-light ms-auto ms-md-0 me-3" href="cart">
                    <i class="fa fa-shopping-cart mx-1"></i>Carrito
                    <span class="badge bg-primary text-white ms-1 rounded-pill">@MostrarCantidadCarrito()</span>
                </NavLink>
            </div>
        </div>
    </nav>
</header>

@code {
    private bool _collapseNavMenu = false;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        CarritoServicio.ActualizarVista += StateHasChanged;
    }

    public void Dispose()
    {
        CarritoServicio.ActualizarVista += StateHasChanged;
    }

    private int MostrarCantidadCarrito()
    {
        return CarritoServicio.CantidadProductos();
    }
}
