@page "/reset-password"
@using System.Text
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavigationManager
@inject IToastService ToastService
@inject IProxyUser ProxyUser

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg mt-5">
                <div class="card-header">
                    <h3 class="text-center">Recuperar cuenta</h3>
                </div>
                <div class="card-body">
                    <EditForm Model="Request" OnValidSubmit="OnSubmit">
                        <DataAnnotationsValidator />
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputPassword" type="password" @bind-value="Request.Clave" autocomplete="off" />
                            <label for="inputPassword">Clave</label>
                            <ValidationMessage For="@(() => Request.Clave)" />
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="inputConfirmPassword" type="password" @bind-value="Request.ConfirmarClave" autocomplete="off" />
                            <label for="inputConfirmPassword">Confirmar Clave</label>
                            <ValidationMessage For="@(() => Request.ConfirmarClave)" />
                        </div>
                        <div class="d-grid gap-1 mt-4 mb-0">
                            <button class="btn btn-primary" type="submit">Restablecer</button>
                        </div>
                    </EditForm>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small">
                        <NavLink href="/login">¿Ya tienes una cuenta? Inicia sesión</NavLink>
                    </div>
                    <div class="small">
                        <NavLink href="register">¿No tienes una cuenta? Regístrate</NavLink>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<LoadingComponent IsLoading="Cargando" />

@code {

    [Parameter]
    [SupplyParameterFromQuery]
    public string? Email { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? Token { get; set; }

    public ResetPasswordDtoRequest Request { get; set; } = new ResetPasswordDtoRequest();
    public bool Cargando { get; set; }


    protected override void OnParametersSet()
    {
        Request.Email = string.IsNullOrWhiteSpace(Email) ? string.Empty : Email.Trim();

        // decodificamos el token
        if (!string.IsNullOrWhiteSpace(Token))
        {
            Request.Token = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Token));
        }
    }

    private async Task OnSubmit()
    {
        try
        {
            Cargando = true;
            await ProxyUser.ResetPassword(Request);
            ToastService.ShowInfo("Se ha establecido una nueva contraseña para tu cuenta");

            NavigationManager.NavigateTo("/login");
        }
        catch (Exception ex)
        {
            ToastService.ShowError(ex.Message);
        }
        finally
        {
            Cargando = false;
        }
    }

}
