@page "/"
@inject IProductoProxy ProductoProxy
@inject IToastService ToastService
@inject NavigationManager NavigationManager

<PageTitle>Inicio</PageTitle>

<h1 class="titulo">Cual es tu antojo?</h1>
<div class="espaciado">
    <div class="row justify-content-center mt-3 mb-4">
        <div class="col-sm-6 col-md-6 col-xl-6">
            <div class="input-group">
                <input type="text" class="form-control bg-light" placeholder="Buscar producto" @bind-value="Buscar" />
                <button class="btn btn-secondary" @onclick="ObtenerCatalogo">
                    <i class="oi oi-magnifying-glass"></i>
                </button>
            </div>
        </div>
    </div>

    @if (Productos is not null)
    {
        <div class="container mb-5 gap-5">
            <div class="row gx-4 row-cols-1 row-cols-md-3 row-cols-xl-5 justify-content-start">
                @foreach (var producto in Productos.Where(x => !x.Especial).OrderBy(p => p.TipoTorta))
                {
                    <ProductoCard Producto="producto" OnClick="VerDetalle"></ProductoCard>
                }
            </div>
        </div>
    }

    <LoadingComponent IsLoading="IsLoading" />

</div>
<div class="container-footer">
    <footer class="footer">
        <div class="footer__social">
            <div class="elemento">
                <span class="fw-bolder">Contacto</span>
                <ul class="list-unstyled">
                    <li><i class="fa fa-inbox me-2"></i>kaoc25@hotmail.com</li>
                    <li><i class="fa fa-whatsapp me-2"></i>+56 9 8785 1012</li>
                </ul>
            </div>
            <div class="elemento">
                <span class="fw-bolder">Dirección</span>
                <ul class="list-unstyled">
                    <li>
                        <i class="fa fa-address-card me-1"></i>
                        Calle Principal 123
                    </li>
                    <li>
                        <i class="fa fa-building"></i>
                        Santiago, Chile
                    </li>
                </ul>
            </div>
            <div class="elemento">
                <span class="fw-bolder">Horario de Atención</span>
                <ul class="list-unstyled">
                    <li>Lunes a Viernes: 9:00 AM - 6:00 PM</li>
                    <li>Sábado: 10:00 AM - 2:00 PM</li>
                    <li>Domingo: Cerrado</li>
                </ul>
            </div>

            <label class="elemento">&copy; 2023 PastelesdeKari.cl Todos los derechos reservados.</label>
        </div>
    </footer>
</div>
@code
{

    public ICollection<ProductoDto>? Productos { get; set; }
    public string Buscar { get; set; } = string.Empty;
    public bool IsLoading { get; set; }

    private async Task ObtenerCatalogo()
    {
        Productos = await ProductoProxy.ListAsync(Buscar);
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            IsLoading = true;
            await ObtenerCatalogo();
        }
        catch (Exception ex)
        {
            ToastService.ShowError(ex.Message);
        }
        finally
        {
            IsLoading = false;
        }

    }

    private void VerDetalle(int id)
    {
        NavigationManager.NavigateTo($"/detalle/{id}");
    }

}