@page "/productos/edit/{Id:int}"
@inject IProductoProxy Proxy
@inject ITipoTortaProxy ProxyTipoTorta
@inject NavigationManager NavigationManager
@inject SweetAlertService Swal

<h1 class="titulo mb-5">Editar Producto</h1>

<ProductoEdit Request="Model" TipoTortas="TiposTorta" OnSaveClick="Save" />

@code {
    [Parameter]
    public int Id { get; set; }

    private ProductoDtoRequest Model { get; set; } = new ProductoDtoRequest();
    private ICollection<TipoTortaDto> TiposTorta { get; set; } = new List<TipoTortaDto>();

    protected override async Task OnParametersSetAsync()
    {
        var response = await Proxy.FindByIdAsync(Id);
        Model.Nombre = response.Nombre;
        Model.Cantidad = response.Cantidad;
        Model.Precio = response.Precio;
        Model.Relleno = response.Relleno;
        Model.Tamanio = response.Tamanio;
        Model.TipoTortaId = response.TipoTortaId;
        Model.ImagenUrl = response.ImagenUrl;

        TiposTorta = await ProxyTipoTorta.ListAsync();
    }

    private async Task Save()
    {
        try
        {
            await Proxy.UpdateAsync(Id, Model);
            NavigationManager.NavigateTo("/productos/list");
        }
        catch (Exception ex)
        {
            await Swal.FireAsync(new SweetAlertOptions
                {
                    Text = ex.Message,
                    Icon = SweetAlertIcon.Error
                });
        }
    }

}