<div id="carouselImages" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="4" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        @if (Top5Productos is null)
        {
            <p>Cargando...</p>
        }
        else
        {
            @foreach (var item in Top5Productos)
            {
                <div class="carousel-item active">
                    <img src="@item.ImagenUrl" class="d-block w-50" alt="@item.Nombre">
                </div>
            }
        }
    </div>
</div>

@code {

    [Parameter]
    public ICollection<ProductoDto>? Top5Productos { get; set; }
}