@using System.Globalization
@using AdminBaker.Shared
<div id="carouselImages" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @if (Top5Productos is null)
        {
            <p>Cargando...</p>
        }
        else
        {
            @foreach (var item in Top5Productos)
            {
                <div class="carousel-item active">
                    <img src="@item.ImagenUrl" class="d-block w-100" alt="@item.Nombre">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@item.Nombre</h5>
                        <p>$ @item.Precio.ToString(Constantes.Formato, new CultureInfo(Constantes.Idioma))</p>
                    </div>
                </div>
            }
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselImages" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselImages" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

@code {

    [Parameter]
    public ICollection<ProductoDto>? Top5Productos { get; set; }
}